{% extends 'base.html.twig' %}

{% block title %} -Groupe {% endblock %} 
{% block header %}
    <header class="jumbotron my-4">
        <h1 class="display-3" style="text-align: center">Votre groupe</h1>
    </header>
{% endblock %}

{% block container %}
<div class="classe">
    <div class="jumbotron" style="font-size: 1.3em;">
        <div class="gestion" style="text-align: center">
            <h3 class="display-8">Gestion de groupe: </h3>
            <a href="#" class="btn btn-primary btn-lg" style="text-align: center">Nouveau cours</a>
            <a href="#" class="btn btn-primary btn-lg" style="text-align: center">Nouvelle évaluation</a>
            <a href="#" class="btn btn-primary btn-lg" style="text-align: center">Plannification de cycle</a>
        </div>
    </div>
</div>            
{% endblock %}