{% extends 'base.html.twig' %}

{% block title %} -Journal de classe {% endblock %}

{% block header %}
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3" style="text-align: center">Journal de classe</h1>
    </header>
{% endblock %}

{% block container %}
<div class="journal">
    <div class="jumbotron" style="font-size: 1.3em;">
        <div class="table-responsive">
            <table border="1" class="table">
                <thead>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Classe</th>
                    <td colspan="2">Volley 21/12/2019</td>
                </thead>
                <tbody>
                    <td></td>
                    <td></td>
                    <td></td>                   
                    <td><select name="" id=""><option value="">a</option></td>
                    <td>pts</td>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}