{% extends 'base.html.twig' %}
{% block title %} -Téléchargement application {% endblock %}

{% block header %}
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3" style="text-align: center">En standby</h1>
    </header>
{% endblock %}

{% block container %}
    <div class="appli">
        <div class="jumbotron" style="font-size: 1.3em;">
        </div>
{% endblock %}        