{% extends 'base.html.twig' %}
{% block title %} -Qui suis-je ? {% endblock %}

{% block header %}
    !-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3" style="text-align: center">Qui suis-je ?</h1>
    </header>
{% endblock %}

{% block container %}
    <div class="quiSuisJe">
        <h3 class="display-3">Présentations</h3>
        <div class="jumbotron" style="font-size: 1.3em;">
        </div>
{% endblock %}        
