{% extends 'base.html.twig' %}
{% block title %} -Prise des présences {% endblock %}
{% block header %}

{% endblock %}


{% block container %}
    <div class="jumbotron" style="font-size: 1.3em;">
        <h3 class="display-3" style="text-align: center">Prise des présences</h3>
        <br>
        <div class="row d-flex justify-content-center">
            <div class="table-responsive" style="text-align: center">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Abreviation</th>
                            <th>Description</th>
                        </tr>    
                    </thead>
                    <tbody>
                        {% for key, value in presences %}
                        <tr>
                            <td>{{value.abreviation}}</td>
                            <td>{{value.libelle}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}            