{% extends 'base.html.twig' %}
{% block title %} -Genese {% endblock %}
{% block header %}
<!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3" style="text-align: center">Genèse du programme</h1>
    </header>
{% endblock %}

{% block container %}
    <div class="genese">
        <div class="jumbotron" style="font-size: 1.3em;">
           <h3> Du papier à Excel</h3>
            <p>
                Qui ne passe pas des heures à calculer des moyennes (tj, bilans, semestres, années,...), à gérer les absences, à gérer les oublis de tenue et leurs éventuelles sanctions sur la note de l’élève, 
                à transférer des évaluations vers des bulletins, à calculer des "tj", à définir des pondérations de tests,
                à faire correspondre des performances à des résultats avant de les intégrer dans une moyenne, à calculer des statistiques de fréquentation de cours,…
            </p>
            <p>
                Comme beaucoup de professeurs d'Education Physique, j'ai dans un premier temps géré ces données sur papier.
            </p>
            <p>
                Mais :
            <ul>
                <li>Ce papier s'accumule, s'égard et termine la plupart du temps au fond d'un tiroir, dans une armoire ou à la poubelle. Il ne sera donc plus accessible.</li>
                <li>Les moyennes ne se calculaient pas automatiquement.</li>
                <li>Le travail bureaucratique était conséquent, casse tête et prenait des heures.</li>
            </ul>    
            </p>
            <p>
                Je me suis donc mis en tête que l'informatique pourrait me venir en aide pour la réalisation de certaines tâches. Le calcul des moyennes serait le première. J'ai donc commencé à utiliser Excel de Microsoft.
            </p>
            <p>
                Dans cette configuration, je me suis retrouvé avec du papier pour la gestion au jour le jour de mes classes, et des documents Excel sur le PC pour la gestion des moyennes... Pas pratique...
            </p>
            <p>
                L'idée était donc d'abandonner totalement le papier en informatisant mon journal de classe et mon cahier de côtes grâce à Excel.
            </p>


            <h3>Mon Smartphone</h3>
            <p>
                En plus de l'abandon du papier, un de mes objectifs principal était de réunir tous mes documents pédagogiques tel que le “journal de classe”, le “cahier de cotes”, les compétences évaluées ou travaillées, la planification annuelle, etc. sur un même support afin qu'ils soient directement et facilement accessibles.
            </p>
            <p>
                Je voulais également me détacher de tout matériel lourd ou imposant comme les tablettes ou les PC portables. De plus, étant un peu tête en l'air, le risque de les laisser à la maison était trop grand... Il me fallait donc un outil informatique du quotidien, puissant et facilement transportable (petit, léger).
            </p>
            <p>
                A l'heure actuelle, la solution s'est rapidement imposée : mon smartphone deviendrait mon interface vers tous ces documents.
            </p>

            <h3>Cloud "Google Drive" & Multi-OS</h3>
            <p>
                Ayant un smartphone, une tablette, un PC portable et un PC fixe, il était primordial que tout document modifié sur l'un des supports soit synchronisé et sauvegardé automatiquement sur tous les autres.
            </p>
            <p>
                Je cherchais donc une application qui soit disponible sur chacun de ses supports et qui synchroniserait directement le moindre fichier modifié entre tous sans intervention de ma part (p.ex. clé usb). Le Cloud de Google "Google Drive" était ma solution.
            </p>
            <p>
                Qui plus est, Google Drive est disponible sur tous les systèmes d’exploitations :
                <ul>
                    <li>Google (Android),</li>
                    <li>Microsoft (Windows),</li>
                    <li>Apple (iOs, MacOs).</li>
                </ul>
                Cela signifie que cette application peut être utilisée sur PC, MAC, tablette ou smartphone.
            </p>


            <h3>D'Excel à Google Sheets</h3>
            <p>
                Comme dit plus haut, j'utilisais Excel. Or, mes besoins évoluant, Excel ne me satisfaisait plus. En effet, à l'époque, il me fallait trouver une application :
            </p>
            <ul>
                <li>stockée physiquement dans le Cloud où les documents modifiés se synchronisent en direct entre tous les supports,</li>
                <li>compatible avec Google Drive,</li>
                <li>équivalente à Excel,</li>
                <li>utilisable sur smartphone.</li>
            </ul>
            <p>
                Heureusement pour moi, Google Drive intègre Google Sheets qui est l'équivalent, considérant mon niveau et mon utilisation, à Excel de Microsoft. De plus, Google Sheets est disponible sur smartphone. Le Graal étant trouvé, je pouvais me lancer.
            </p>


            <h3>Le cours d'Education Physique, ce cours non conventionnel</h3>
            <p>
                Lorsque nous nous intéressons au cours d'Education Physique, il a la grande particularité de permettre l'évaluation en direct. En effet, nos élèves présentent leur test et nous encodons directement le résultat dans notre cahier de cotes.
            </p>
            <p>
                Cette unique donnée est tout simplement à l'origine de toute ma démarche dont l'objectif final est de :
            </p>


            <h3>Gagner du temps - Réduire les étapes au strict minimum</h3>
            <p>
                Et pourquoi ne pas encoder des résultats de tests directement dans son journal de classe ? Que ces résultats soient directement transférés vers un cahier de cotes ? Que les moyennes se calculent automatiquement ? Que les pondérations des tests, champs ou semestres puissent être modifiables ou automatiques ? Que les oublis de tenues soient pris en compte ? Que je puisse choisir sur combien évaluer ? Que mes résultats s'affichent en points ou en lettres ?
            </p>
            <p>
                Et nos évaluations s’appuyant sur des tables ou échelles de performances ? Ne passons-nous pas trop de temps à associer une performance avec une cote via un tableau de performance ? Le but ne serait-il pas que la performance de l’élève (p.e. une certaine durée pour un test d’endurance) corresponde instantanément à un résultat sur 10 et que ce résultat soit directement apparent dans le cahier de cotes ?
            </p>
            <p>
                Bonne nouvelle, ce programme a aussi pour but de réaliser tout cela.
            </p>
            <p>
                L’objectif de cet outil numérique est finalement de n’avoir plus qu’à “copier-coller” tous les résultats compilés vers nos bulletins informatisés.
            </p> 
        </div>
    </div>
{% endblock %}