{% extends 'base.html.twig' %}
{% block title %} -Introduction {% endblock %}

{% block header %} 
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3" style="text-align: center">Introduction</h1>
        <h3 class="display-7" style="text-align: center">Genèse des outils</h3>
    </header>
{% endblock %}

{% block container %}
<div class="intro">
    <div class="jumbotron" style="font-size: 1.3em;">
        <h3>Enseignant : Mais que de données à gérer</h3>
        <p>
            En tant qu'enseignant, il existe une quantité non négligeable de données "bureaucratiques" à récupérer, à gérer, à traiter, à classer, à utiliser, etc...
        </p>
        <p>
            Parmi celles-ci, nous retrouvons : la prise des présences, l'évaluation, la gestion des oublis de tenue de nos élèves, les absences, les certificats médicaux, les blessures, les retards, les mots des parents,...
        </p>
        <p>
            Nous devons également évaluer nos élèves, calculer des moyennes, attester d'une réussite ou d'un échec, 
            le tout en suivant un programme établi en tenant compte de nos 3 champs et de nos 25 à 26 compétences sans oublier bien entendu, tout ce qui touche de près ou de loin à la planification en fonction des salles disponibles, 
            de nos infrastructures, de nos classes, du programme et de la programmation d'école (on respire un coup).
        </p>

        <h3>Des outils "conventionnels"</h3>
        <p>
            Pour parvenir à gérer tout cela, la plupart d'entre nous utilisent des supports "papier". 
            Ces derniers se présentent sous la forme de journaux de classe ou de cahiers de cotes achetés dans le commerce ou imprimés en se basant sur des grilles pré-établies par des collègues ou créés par nos soins. 
            Certains ont passé le pas du numérique et se sont mis à utiliser leur tablette assistés par leurs applications de gestion de classe spécialement conçues pour les enseignants (p.e idoceo, additio,..).
        </p>


        <h3>Le cours d'éducation physique, un cours "non conventionnel"</h3>
        <p>
            Mais, l'éducation physique reste un cours un peu "à part" et aucun de ces systèmes de gestion "conventionnels" ou "numériques" ne me convenaient. 
            Je me suis alors mis en tête de créer mes propres outils. En partant d'un niveau 0 en excel, je savais que le chemin allait être laborieux mais je me suis lancé ce challenge et le résultat actuel est bien supérieur à mes ambitions de départ.
        </p>
        <p>
            Au fil des années, j'ai amélioré les outils pour les rendre plus accessibles, plus malléables et plus adaptables aux différentes situations de terrain.
        </p>
        <p>
            C'est donc à travers ce site que vous allez les découvrir.
        </p>
    </div>
</div>
{% endblock %}