{% extends 'base.html.twig' %}

{% block title %} -Objectifs {% endblock %}

{% block header %}
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3" style="text-align: center">Objectifs</h1>
        <h3 class="display-7" style="text-align: center">OUTILS DE GESTION DE CLASSE & CO</h3>
    </header>
{% endblock %}

{% block container %}
    <div class="objectifs">
        <h3 class="display-3">Les objectifs de ces outils sont multiples</h3>
        <div class="jumbotron" style="font-size: 1.3em;">
        <ul>
            <ol>
                <li>Harmoniser le travail de l'ensemble de l'équipe pédagogique EP en tenant compte du fonctionnement de l'établissement scolaire, du Document d'Intention Pédagogique EP et des Séquences d'Apprentissage.</li>
                <br>
                <li>Synchroniser son cycle de cours avec l'Agenda Google. L'agenda devient alors l'interface privilégiée du programme.</li>
                <br>
                <li>Gagner un maximum temps en réduisant les heures d'encodage et le nombre d'étapes de la prise d'informations sur le terrain à la sortie (bulletins).</li>
                <br>
                <li>Faciliter la gestion et le suivi des élèves et des classes : absences, oublis de tenue, certificats médicaux, planification de l'année grâce à un encodage simple et des statistiques diverses et variées,...</li>
                <br>
                <li>Posséder un "Cahier de Cotes" totalement automatisé. Il suffit d'encoder toutes les données dans le journal de classe et le cahier de cotes sera automatiquement complété,
                toutes les moyennes seront calculées et pondérées (tj, champs, bilans, semestre et année). 
                Cette automatisation permet un copier/coller des résultats dans les bulletins informatisés et de garder l'élève au centre du processus.</li>
                <br>
                <li>Faciliter et rendre les évaluations plus “justes” :</li>
                    <ul>
                    <br>
                    <li>Toutes les moyennes sont calculées automatiquement en fonction du nombre d'heures de cours. 
                    Sont prises en compte les évaluations certificatives, les périodes, les champs, les semestres et l'année</li>
                    <br>
                    <li>Transformation automatique d'une performance en points avec transfert vers le cahier de cotes ;</li>
                    <br>
                    <li>Améliorer la justesse dans les évaluations grâce au système de pondération globale disponible ;</li>
                    <br>
                    <li>Remettre en avant les compétences du programme d'Éducation Physique en gardant un œil sur les compétences évaluées. Un aperçu des compétences évaluées est automatiquement disponible.</li>
                    </ul>
                <br>
                <li>Réunir tous les outils sur un même support (smartphone, tablette, pc,...) : journal de classe, cahier de cotes, tables d'évaluation, planification annuelle, compétences évaluées,...</li>
                <br>
                <li>Posséder des documents à jour et sauvegardés sur chacun des supports grâce à la synchronisation du "Cloud".</li>
                <br>
                <li>Utiliser la VMA des élèves pour le travail d'endurance et le travail de course d'orientation tout.</li>
            </ol>
        </ul>
        </div>
    </div>
{% endblock %}