{% extends 'base.html.twig' %}
{% block title %} -Qui suis-je ? {% endblock %}

{% block header %}
    !-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3" style="text-align: center">Qui suis-je ?</h1>
    </header>
{% endblock %}

{% block container %}
    <div class="quiSuisJe">
        <h3 class="display-3">Présentations</h3>
        <div class="jumbotron" style="font-size: 1.3em;">
            <p>
                Je m'appelle François-Xavier Henin.
            </p>
            <p>
                Je suis diplômé en Education Physique & AESS de l'Université de Louvain-la-Neuve en 2007.
            </p>

            <p>
                Je suis enseignant en Education Physique à l'Institut de la Providence de Wavre depuis septembre 2007. Je suis nommé à temps plein et enseigne dans le secondaire supérieur. Je donne cours aussi bien aux filles qu'aux garçons de 4-5-6-7 dans les filières Générale, Technique et Professionnelle.
            </p>
            <p>
                Mon horaire est aussi composé de 2h/4h d'Activité Complémentaire Informatique depuis septembre 2015. J'enseigne à des élèves de 4eG.
            </p>

            <p>
                Je suis membre de la Commission de Secteur Education Physique depuis septembre 2014.
            </p>
            <p>
                Je donne une des deux formations numériques EP à la formation ForFor depuis 2015 où j'y présente et partage tous mes outils & plus encore : gestion de classe (la raison de ce site), gestion d'un événement type rhéto trophée, document d'intention pédagogique, séquences d'apprentissage & fils rouges, utilisation de la tablette au cours d'EP & présentation d'applications intéressantes.
            </p>
            <p>
                Je partage aussi mes outils lors de la formation ForPEP depuis juin 2019.
            </p>
            <p>
                Je fais partie de l'équipe derrière la nouvelle formation ForPEP.
            </p>
            <p>
                J'ai donné la formation "Floorball" au CUFOCEP durant trois années.
            </p>
            <p>
                Je suis maître de stage pour les étudiants de l'UCL depuis 2013.
            </p>
            <p>
                J'ai été suppléant à l'écriture des nouveaux référentiels d'Education Physique pour le Pacte d'Excellence (2018-2019).
            </p>
            <p>
                Je suis intervenu auprès des étudiants en Education Physique BAC 3 de l'HELMO et Master 2 de l'UCL en 2017 et 2018 afin de présenter ces outils et leur fonctionnement sur le terrain.
            </p>
            <p>
                Je travaille sur ce document de gestion de classe depuis septembre 2014. Aujourd'hui, je me suis dit qu'il était temps de passer à l'étape suivante étant donné que les outils arrivent à maturation et s'avèrent très efficaces sur le terrain.
            </p>


            <h3>Mais encore ?</h3>
            <p>
                Je suis passionné (disons plutôt fort intéressé) par les nouvelles technologies, le montage vidéo, les voyages (avec une préférence pour l'Ecosse), les belles images, mon métier, le sport (évidemment) mais plus précisément le ski, la randonnée ou le vtt. J'ai été athlète sur 100m, 4x100m et 110 haies, cycliste et joueur de floorball. Malheureusement, de nombreuses blessures aux genoux m'ont éloigné des terrains de compétition. Actuellement, je pratique donc essentiellement une activité physique de loisir.
            </p>
            <p> 
                Je ne parlerai pas des nombreux entraînements donnés en club, du coaching et autre.
            </p>
            <p>
                Si vous avez un peu de temps, n'hésitez pas à vous rendre sur ma chaîne youtube. Elle vous donnera un aperçu des activités que nous proposons à nos élèves (journées sportives, portes ouvertes, voyages, retraites,...).
            </p>
        </div>
    </div>
{% endblock %}