.connexion input {
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

.inscription form {
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

#inscription_naissance {
    margin-left: 10%;
}

.connexion {
    text-align: center;
}

.contact {
    text-align: center;
}