{% extends 'admin/base.html.twig' %}

{% block title %} -Statistiques des utilisateurs {% endblock %}

{% block header %}
    <header class="jumbotron my-4">
        <h1 class="display-3" style="text-align: center">Statistiques des utilisateurs</h1>
    </header>    
{% endblock %}

{% block container %}
    <div class="row d-flex justify-content-center">
        <div class="col-md-5">
            <div id="statsSexe"></div>
        </div>
        <div class="col">
            <div  id="statsEcole"></div>
        </div>
        <div class="col">
            <div id="statsAge"></div>
        </div>
    </div>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {{ gc_draw([statistiquesSexe, statistiquesEcole, statistiquesAge], ['statsSexe', 'statsEcole', 'statsAge']) }}
    </script>
{% endblock %}