{% extends 'base.html.twig' %}
{% block title %} -Inscription {% endblock %}

{% block header %}
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3" style="text-align: center">Inscrivez-vous !</h1>
    </header>
{% endblock %}

{% block container %}
    <div class="row row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="jumbotron text-center" style="font-size: 1.3em;" >
                {{ form_start(form) }}
                    <div class="form-group">
                    </div>       
                {{ form_end(form) }}
            </div>
        </div>
    </div>    
{% endblock %}  