{% extends 'base.html.twig' %}
{% block title %} -Réinitialisation du mot de passe {% endblock %}
{% block header %}
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3" style="text-align: center">Réinitialisation de votre mot de passe! </h1>
    </header>
{% endblock %}
{% block container %}
   <div class="confMdp">
        <div class="jumbotron" style="font-size: 1.3em;">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}  
            {% for message in app.flashes('danger') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}  
            <form method="post">
                <div class="form-group">
                    <label for="inputPassword">Votre nouveau mot de passe</label>
                    <input type="password" name="mdp" id="inputPassword" class="form-control" placeholder="Votre nouveau mot de passe" required>
                </div>
                <input type="hidden" name="token" value="{{ token }}">
                <input type="submit" value="Réinitialiser votre mot de passe" class="btn btn-primary">  
            </form>  
        </div>
    </div>
{% endblock %}  

