{% extends 'base.html.twig' %}
{% block title %} -Modification de votre profil {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
{% endblock %}
{% block scripts %}
    <script src="/JS/main.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
{% endblock %}
{% block header %}
    <header class="jumbotron my-4">
        <h1 class="display-3" style="text-align: center">Modification de votre profil</h1>
    </header>
{% endblock %}
{% block container %}
    <div class="row row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="jumbotron text-center" style="font-size: 1.3em;">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}  
                {{ form_start(form) }}
                {{ form_end(form) }}
                <div id="desactivate"></div>
            </div>
        </div>    
    </div>
{% endblock %}
